<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <nav>
        <img src="../static/colegio.png" alt="logo">
    </nav>
    <h2>ESCOLHA SEU CARGO</h2>
    <div class="defina">
        <a href="/cadastro">Professor</a>
        <a href="/notas">Aluno</a>
       
    </div>
</body>
</html>